body {
  background-color: #ebebeb;
}

/* grouped styles
styles that are the same for various groups */

header, footer, hr {
    background-color: #291150;
    text-align: center;
}

/* header, main, and footer styles */

header {
  padding: 5px;
}

main {
  text-align: center;
}

footer {
  font-family: montserrat;
  font-size: 12px;
  color: #e6e6e6;
  padding: 10px;
  text-transform: uppercase;
  margin-top: 50px;
}


/* header styles */

h1 {
  font-family: lobster;
  color: #e6e6e6;
  font-size: 50px;
  letter-spacing: 3px;
}

h2 {
  font-family: roboto;
  color: #e6e6e6;
  font-size: 15px;
  text-align: center;
  margin-top: -20px;
  padding-bottom: 20px;
}

h3 {
  font-family: poppins;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
}

/* image style */

img {
  width: 400px;
  height: 400px;
  margin-top: 30px;
  border: 1px solid #291150;
  border-radius: 2%;
}

/* article, list, & paragraph styles
main chunks of information*/

article {
  text-align: justify;
  width: 405px;
  margin: auto;
}

p, ul, ol, li {
  font-family: poppins;
  font-weight: 400;
  font-size: 15px;
}

li {
  padding: 5px 0px;
}

/* horizontal ruler style*/

hr {
  border: 0px;
  width: 30px;
  height: 30px;
  transform: rotate(45deg);
  margin-top: 60px;
  margin-bottom: 60px;
}

/* links style */

a:link {
  color: #583989;
  text-decoration: none;
  font-family: poppins;
}
a:visited {
  color: #721ac5;
}
a:hover {
  color: rgb(84, 170, 141);
}
a:active {
  color: #9181aa;
}
