body {
  background-color: #d6d6d6;
}

header {
  background-color: #291150;
  padding: 5px;
}

main {
  text-align: center;
}

h1 {
  font-family: lobster;
  text-align: center;
  color: #e6e6e6;
  font-size: 50px;
  letter-spacing: 3px;
}

h2 {
  font-family: roboto;
  color: #e6e6e6;
  font-size: 15px;
  text-align: center;
  margin-top: -20px;
}

h3 {
  font-family: poppins;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
}

img {
  width: 400px;
  margin-top: 50px;
  border: 1px solid #291150;
  border-radius: 2%;
}

article {
  text-align: justify;
  font-family: poppins;
  font-size: 15px;
  width: 400px;
  margin: auto;
}

footer {
  background-color: #291150;
  text-align: center;
  font-family: montserrat;
  font-size: 12px;
  color: #e6e6e6;
  padding: 10px;
  text-transform: uppercase;
  margin-top: 50px;
}

hr {
  border: 0px;
  width: 30px;
  height: 30px;
  background-color: #291150;
  transform: rotate(45deg);
  margin-top: 60px;
  margin-bottom: 60px;
}

a:link {
  color: #b98eff;
  text-decoration: none;
}
a:visited {
  color: #721ac5;
}
a:hover {
  color: rgb(84, 170, 141);
}
a:active {
  color: #9181aa;
}
